*{
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#errors div{
    padding: 5px 20px;
    border: 1px solid red;
    background-color:tomato;
    color: red;
    text-align: center;
}

.card .card-image img{
    width: 90%;
    height: auto;
}

div.card-image{
    height: 200px;
    overflow: hidden;
}


#edit-post-form textarea{  
    overflow: scroll;
}
article{
    overflow: scroll;
    height: 400px;
}

#edit-post-form .row{  
    margin: 0%;
}

#edit-post-form .chips{  
    margin: 0%;
    height: 50px;
    overflow: scroll;
}

